.header {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
}

.header__title {
  color: var(--color-text-secondary);
  padding: 1em 2em;
  font-size: 24px;
  font-weight: 700;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__link {
  color: var(--color-text-secondary);
  text-decoration: none;
  padding: 1em 1.5em;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 900px) {
  .header__link {
    display: none;
  }

  .header {
    display: block;
    text-align: center;
  }
}
