body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
    flex: 1;
}